/* Define the Outfit font */
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable weight range */
    font-style: normal;
}

/* Apply the Outfit font to the entire body */
body {
    font-family: 'Outfit', sans-serif;
    background-color: #121212 /* Replace with your desired color */
    
}

.bg {
    background-color: #282828
}

.modal-body {
    background-color: #282828; /* Your custom background color */
    border-radius: 0.375rem; /* Ensure the corners are rounded */
    overflow: hidden; /* Prevent content overflow from affecting corners */
    padding: 1rem; /* Add padding as needed */
}



.card-title {
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Limit to 2 lines */
    overflow: hidden;
    max-height: 3em; /* Ensure that the height corresponds to two lines */
}

.card-text {
    line-height: 1.2; /* Adjust this value as needed */
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    overflow: hidden;
}


/* Style for form inputs */
input[type="text"],
input[type="password"],
input[type="url"],
textarea,
select {
    background-color: #282828; /* Light gray background */
    border: 1px solid #737471; /* Border color */
    border-radius: 0.375rem; /* Rounded corners */
    padding: 0.375rem 0.75rem; /* Padding */
    font-size: 1rem; /* Font size */
}

/* Style for form inputs on focus */
input[type="text"]:focus,
input[type="password"],
input[type="url"]:focus,
textarea:focus,
select:focus {
    background-color: #282828; /* White background on focus */
    border-color: #737471; /* Change border color */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Bootstrap shadow effect */
}


/* Optional: Style for placeholders */
input::placeholder,
textarea::placeholder {
    color: #6c757d; /* Placeholder text color */
    opacity: 1; /* Prevent opacity effect */
}

.badge-bg{
    background-color: #466220
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #466220!important;
    border-color: #466220 !important; 
}


.custom-flag-btn {
    border-color: #466220 !important; /* Change the outline color */
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    color: #466220!important;        /* Change the icon color */
}

.custom-flag-btn:hover {
    background-color: #466220 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.toolbar-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #737471 !important; /* Change the outline color */
    color: #737471!important;        /* Change the icon color */
}

.toolbar-btn:hover {
    background-color: #737471 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-clear-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #a23333 !important; /* Change the outline color */
    color: #a23333!important;        /* Change the icon color */
}

.custom-clear-btn:hover {
    background-color: #a23333 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-new-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #466220 !important; /* Change the outline color */
    color: #466220!important;        /* Change the icon color */
}

.custom-new-btn:hover {
    background-color: #466220!important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-hide-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #737471 !important; /* Change the outline color */
    color: #737471!important;        /* Change the icon color */
}

.custom-hide-btn:hover {
    background-color: #737471 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-clipboard-btn {
    color: #fff !important;        /* Change the icon color */
}

.tru {
    max-width: 90%;
}

.truc {
    font-size: 14px;
    white-space: nowrap;      /* Prevent wrapping */
    overflow: hidden;         /* Hide overflow */
    text-overflow: ellipsis;  /* Show ellipsis */
}

.py-custom {
    padding-top: 0.00rem; /* Adjust this value */
    padding-bottom: 0.15rem; /* Adjust this value */
}

.mb-custom {
    margin-bottom: 5px; /* Adjust this value */
}


.dropdown-menu a:hover,
.dropdown-menu button:hover {
    color: #b5b5b5; /* Same color on hover */
    background-color: transparent; /* No background on hover */
}

.dropdown-menu a,
.dropdown-menu button {
    color: #fff; /* Text color */
    font-weight: 400; /* Font weight */
    border: none; /* Remove border */
    background: none; /* Remove background */
    text-align: left; /* Align text to the left */
    cursor: pointer; /* Change cursor to pointer for button */
}

.url {
    color: #141414; /* Text color */
    font-weight: 400; /* Font weight */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer */
    display: inline-block; /* Allow padding/margins */
}

.url:hover {
    color: #454545; /* Hover text color */
    background-color: transparent; /* No background on hover */
}

.dropdown-menu {
    background-color: #282828;
    border: none;
}

.align-middle {
    align-items: center; /* Align items in the center */
  }

.form-select {
    background-color: #282828;
}

.custom-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
  }