/* Define the Outfit font */
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable weight range */
    font-style: normal;
}

/* Apply the Outfit font to the entire body */
body {
    font-family: 'Outfit', sans-serif;
    background-color: #121212 /* Replace with your desired color */
    
}

.bg {
    background-color: #282828
}

.badge-bg{
    background-color: #466220
}

.custom-flag-btn {
    border-color: #728755 !important; /* Change the outline color */
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    color: #728755 !important;        /* Change the icon color */
}

.custom-flag-btn:hover {
    background-color: #728755 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.toolbar-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #737471 !important; /* Change the outline color */
    color: #737471!important;        /* Change the icon color */
}

.toolbar-btn:hover {
    background-color: #737471 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-clear-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #a23333 !important; /* Change the outline color */
    color: #a23333!important;        /* Change the icon color */
}

.custom-clear-btn:hover {
    background-color: #a23333 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-new-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #466220 !important; /* Change the outline color */
    color: #466220!important;        /* Change the icon color */
}

.custom-new-btn:hover {
    background-color: #466220!important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-hide-btn {
    -webkit-text-stroke: 0.5px ;
    border-width: 2px;
    border-color: #737471 !important; /* Change the outline color */
    color: #737471!important;        /* Change the icon color */
}

.custom-hide-btn:hover {
    background-color: #737471 !important; /* Change background on hover */
    color: #fff !important;               /* Change icon color on hover */
}

.custom-clipboard-btn {
    color: #fff !important;        /* Change the icon color */
}

.link-text {
    font-size: 14px
}

.py-custom {
    padding-top: 0.00rem; /* Adjust this value */
    padding-bottom: 0.15rem; /* Adjust this value */
}

.mb-custom {
    margin-bottom: 5px; /* Adjust this value */
}


.dropdown-menu a:hover {
    color: #b5b5b5;
    background-color: #2b2d28;
}

.dropdown-menu a {
    color: #fff;
    font-weight: 400;
}

.dropdown-menu {
    background-color: #2b2d28;
    border: none;
}

.align-middle {
    align-items: center; /* Align items in the center */
  }

.form-select {
    background-color: #282828;
}